/* general styles*/
body{
    --background-color: #fafafa; 
    --ninetyPercent: 90%;
    --hundredPercent: 100%;
    --left: left;
    --grey: rgb(139, 137, 137);
    --inlineBlock: inline-block;
    --ten: 10px;
    --fiftyPercent: 50%;
    --cover: cover;
    background: var(--background-color);
}

/* nav styles */
nav{
    background-color: white;
    height: 100px; 
    margin: -20px -8px 20px -8px;
    box-shadow: 3px 5px 3px rgb(143, 140, 140); 
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7em;
    position: fixed; 
    width: var(--hundredPercent);
    z-index: 1000;
}

#nav_items_group{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nav_group{
    float: var(--left);
}
form{
    margin-left: 20%;
    margin-right: auto;
    position: relative;
    color: rgb(200, 200, 200);
}
input[type="search"]{
    height: 30px;
    width: 200px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background: rgb(240, 240, 240);
    text-align: center;
}
.fa.fa-search{
    font-size: 0.5em;
    position: absolute;
    left: 50px;
    top: 16px;
}
ul.nav_links{
float: right;
margin-top: 2px;
}

.nav_links li{
    float: var(--left);
    list-style-type: none;
}

.icon{
    text-decoration: none;
    color: black;
}

#centerIcon{
    margin-left: 50px;
    margin-right: 50px;
}

/* general styles for the main section of the web page */
#main_section{
    padding-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-gap: 25px;
}

/* Styles for instagram posts */

/* general style for a full instagram post */
.friend_post{
    width: var(--hundredPercent);
    border: 1px solid rgb(201, 197, 197);
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgb(201, 197, 197);
    margin-top: 70px;
}

/* styles for friend details */
.friend_details{
    width: var(--ninetyPercent);
    margin-left: auto;
    margin-right: auto;
}
.friend_profile_picture img{
    width: 60px;
    height: 50px;
    object-fit: var(--cover);
    border-radius: var(--fiftyPercent);
}
.friend_details > div{
display: var(--inlineBlock);
}
.friend_details > div:nth-of-type(1){
    margin-right: 20px;
    margin-top: 10px;
}
.friend_details > div:nth-of-type(2){
    line-height: 30px;
}
.friend .firstP{
font-weight: bold;
}
.friend .secondP{
    margin-top: -15px;
}
.friend_details > div:nth-of-type(3){
float: right;
}
#ellipsis_icon{
    margin-top: 40px;
}

/* styles for the friend's main image or video post */
.friend_image_post img{
    width: var(--hundredPercent);
}


/* Styles for likes and comments */
.likes_and_comments{
width: var(--hundredPercent);
margin-left: auto;
margin-right: auto;
}

.likes_and_comments ul{
    list-style-type: none;
    height: 20px;
    margin-top: 0px;
}
.likes_and_comments li{
    display: var(--inlineBlock);
    margin-right: 45px;
    font-size: 1.5em;
    margin-left: -30px;
    margin-top: 5px;
}
.likes_and_comments li:nth-of-type(4){
    float: right;
    margin-right: var(--ten);
}
.details_of_likes_and_comments{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.details_of_likes_and_comments .commentator{
    font-weight: bold;
}
.details_of_likes_and_comments a{
    text-decoration: none;
}
.details_of_likes_and_comments i{
    float: right;
}
.details_of_likes_and_comments .time_of_post{
    font-size: 11px;
    color: var(--grey);
}
 .view_comments a{
    color: var(--grey);
}

/* styles for the input area where comments can be added */
.add_comment{
    border-top: 1px solid rgb(200, 200, 200);   
}
.add_comment form{
width: 97%;
margin-left: 0px;
margin-bottom: -5px;
height: 50px;
}
.add_comment input{
    border: 0px;
    width: 80%;
    height: 40px;
    font-size: 14px;
    color: var(--grey);
    outline: none;
    background: var(--background-color);
}
.add_comment button{
    float: right;
    border: none;
    background: white;
    color: rgb(0, 153, 255);
    margin-top: 15px;
}

/* styles for aside content */
aside{
    margin-top: 55px;
}

/* styles for profile picture and username in the aside section of the page */
#user_name_and_profile_picture div{
    display: var(--inlineBlock);
    margin-right: var(--ten);
}
 #user_name_and_profile_picture img{
    border-radius: var(--fiftyPercent);
    width: 60px;
    height: 60px;
    margin-top: 15px;
    object-fit: var(--cover);
}
 #user_name_and_profile_picture p{
    margin-top: -5px;
    color: var(--grey);
}

/* styles for "STORIES"  and "SUGGESTIONS" in the aside section of the page */
.asideContent{
    border: 1px solid rgb(201, 197, 197);
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgb(201, 197, 197); 
    margin-bottom: 30px;
}
.asideContent a{
    text-decoration: none;
    color:  black;
}
.asideContent p{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.asideContent span:nth-of-type(1){
    color: var(--grey);
}
.asideContent span:nth-of-type(2){
    font-weight: bold;
    float: right;
}

/* specific styles for the "stories section" of the aside content of the web page*/
 #all_my_stories {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 170px;
    overflow-y: auto;
}
 #stories img{
    border: 2px solid red;
    border-radius: var(--fiftyPercent);
    width: 50px;
    height: 55px;
    margin-top: 15px;
    object-fit: var(--cover); 
}
 .story div{
    display: var(--inlineBlock);
    margin-right: var(--ten);
}
 .story_name_and_time p{
    color: var(--grey);
    font-size: 10px;
}

/* specific styles for the "suggestions section" of the aside content of the web page*/
#suggestions img{
    border-radius: var(--fiftyPercent);
    width: 40px;
    height: 40px;
    margin-top: 15px;
    object-fit: var(--cover); 
} #all_my_suggestions {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
  .suggestion div{
    display: var(--inlineBlock);
    margin-right: var(--ten);
}
  .suggestion a{
    float: right;
    text-decoration: none;
    color: rgb(0, 153, 255);
    margin-top: 35px;
}
  .suggestion p{
    color: var(--grey);
    font-size: 13px;
    margin-top: -10px;
}

/* styles for the minor navigational links in the aside section of the web page */
#minor_nav_links{
    margin-left: -35px;
}
#minor_nav_links ul{
list-style-type: none;
margin-top: -15px;
}
#minor_nav_links li{
    display: inline-block;
}
#minor_nav_links  a{
    text-decoration: none;
    color: var(--grey);
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* styles for the copyright information */
#copyright_info small{
    font-size: 11px;
    color: var(--grey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* media query for a minor breakpoint */
@media screen and (min-width: 1040px) and (max-width: 1300px){
    #main_section{
        width: 85%;
    }
}

/* media queries for medium sized devices*/
@media screen and (max-width: 1039px){
    /* nav styles */
    #nav_items_group{
        width: var(--ninetyPercent);
    }
    .nav_links li:nth-of-type(2){
        margin-left: 20px;
        margin-right: 20px;
    }
    /*  styles for the main section of the web page*/
    #main_section{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*  styles for the aside section of the web page */
    aside{
        display: none;
    }
}




/* media queries for mobile devices */
@media screen and (max-width: 795px){
    /* nav styles */
    #nav_items_group{
        width: 96%;
    }
    #centerIcon{
        margin-left: 10px;
        margin-right: 10px;
    }
    form{
        margin-left: 9%;
    }
    input[type="search"]{
        width: 150px;
    }
    .fa.fa-search{
        left: 30px;
        top: 16px;
    }

    /* styles for main sectionof web page  */
    #main_section{
        width: 80%;
    }
}

/* media queries for extra small mobile devices */
@media screen and (max-width: 524px){
    /* nav styles */
    #nav_items_group{
        width: 95%;
        font-size: 0.85em;
    }
    form{
            display: none;
        }
    /* styles for main page section of web page */
    #main_section{
        width: var(--hundredPercent);
    }
    /* styles for the input area for adding comments for a post*/
    .add_comment form{
        display: block; /* This ensures that this particular form is visible on the web page */
    }
}